<style>
.advisor-image {
	border-radius: 50%;
}

.service-color {
	border-radius: 50%;
	background-color: #d51;
	height: 250px;
	width: 250px;
	margin-left: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.service-image{
	text-align: center;
	padding: 20px;
	margin-top: 38%;
	width: 100%;
}

.stocks-you-own {
	display: inline-block;
}
</style>

<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<body>
		<div class="container-fluid">
				<div class="service-color">
                    <img class="image-responsive service-image" alt="200x200" src="http://g.fool.com/art/newsletters/{{ your_soup.service_id }}/site/logo.png"/>
				</div>


			<div class="panel panel-success">
			    <div class="panel-heading">
			        <span class="glyphicon glyphicon-USD"></span>
			        <h3 class="panel-title stocks-you-own">
			        	We analyzed your picks and you match the Rule Breakers service.
			        </h3>
			    </div>
			    <div class="panel-body">
			        Blurb about this service
			    </div>
		    </div>

            <div class="table-responsive">
	            <table class="table table-striped">
	                <thead>
		                <tr>
		                  <th>#</th>
		                  <th>Your Stock Picks</th>
                          <th>{{ your_soup.name }} Stock Picks</th>
		                </tr>
		            </thead>
		            <tbody>
                        {% for pick in picks %}
		                <tr>
                            <td>{{ pick }}</td>
		                  <td>X</td>
		                </tr>
                        {% endfor %}
	              	</tbody>
            	</table>
          	</div>

		</div>
	</body>
</html>

