<style>
.advisor-image {
	border-radius: 50%;
}

.service-color {
	border-radius: 50%;
	background-color: #d51;
	height: 250px;
	width: 250px;

}

.service-image{
	text-align: center;
	padding: 20px;
	margin-top: 38%;
	width: 100%;

}
</style>

<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<div class="service-color">
                    <img class="image-responsive service-image" alt="200x200" src="http://g.fool.com/art/newsletters/{{ your_soup.service_id }}/site/logo.png"/>
				</div>
			</div>
            <div class="table-responsive">
	            <table class="table table-striped">
	                <thead>
		                <tr>
		                  <th>#</th>
		                  <th>Your Stock Picks</th>
                          <th>{{ your_soup.name }} Stock Picks</th>
		                </tr>
		            </thead>
		            <tbody>
                        {% for pick in picks %}
		                <tr>
                            <td>{{ pick }}</td>
		                  <td>X</td>
		                </tr>
                        {% endfor %}
	              	</tbody>
            	</table>
          	</div>

          	<div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://g.fool.com/art/Newsletters/1069/img/davidg.jpg" class="img-responsive advisor-image" alt="200x200">
              <h4>David Gardner</h4>
              <span class="text-muted">David's Top Picks</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="http://g.fool.com/art/Newsletters/1069/img/karlt.jpg" class="img-responsive advisor-image" alt="200x200">
              <h4>Karl Thiel</h4>
              <span class="text-muted">Karl's Top Picks</span>
            </div>

		</div>
	</body>
</html>

