<style>
.advisor-image {
	border-radius: 50%;
}

.service-color {
	border-radius: 50%;
	background-color: #d51;
	height: 250px;
	width: 250px;
	margin-left: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.service-image{
	text-align: center;
	padding: 20px;
	margin-top: 38%;
	width: 100%;
}

.stocks-you-own {
	display: inline-block;
}

.company-logo {
	display: block;
	height: 180px; 
	width: 100%; 
	display: block;
}

</style>

<html>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<body>
		<div class="container-fluid">
				<div class="service-color">
                    <img class="image-responsive service-image" alt="200x200" src="http://g.fool.com/art/newsletters/{{ your_soup.service_id }}/site/logo.png"/>
				</div>


			<div class="panel panel-success">
			    <div class="panel-heading">
			        <h3 class="panel-title stocks-you-own">
			        	We analyzed your picks and you match the {{your_soup.name}} service.
			        </h3>
			    </div>
			    <div class="panel-body">
			        Blurb about this service
			    </div>
		    </div>

			<div>
				<h4>
					Your stocks that match {{your_soup.name}} picks
				</h4>
				<div class="row">
				{% for pick in your_picks %}		    
		      		<div class="col-xs-6 col-md-3">
		        		<a href="#" class="thumbnail">
		          			<img class="company-logo" src="//g.foolcdn.com/art/companylogos/medium/{{pick}}.png">
		        		</a>
		      		</div>	      	
      			{% endfor %}
      			</div>
      		</div>


      		<div>
      			<h4>
					More {{your_soup.name}} picks
				</h4>
				<div class="row">
	            {% for pick in other_picks %}				    
			      		<div class="col-xs-6 col-md-3">
			        		<a href="#" class="thumbnail">
			          			<img class="company-logo" src="//g.foolcdn.com/art/companylogos/medium/{{pick}}.png">
			        		</a>
			      		</div>
	      		{% endfor %}
      			</div>
      		</div>

		</div>
	</body>
</html>

